---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Developer Full Stack JS",
    company: "Freelance",
    description:
      "Colaboracion como developer full stack en proyectos en No-Contry y para el desarrollo de proyectos de clientes en Canada y Costa Rica.",
    link: "https://github.com/isaacfloresv",
  },
  {
    date: "Agosto 2023",
    title: "Ingeniero Informatico",
    company: "ALEGA S.A.",
    description:
      "Responsable del desarrollo de herramientas web para clientes, capacitador del equipo tecnico y encargado de personal tecnico.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
